doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/saved.css')

    // SCRIPTS
    script(src="./js/ace-min-noconflict/ace.js")
    script(src="./js/editor.js" defer)
    script(src="./js/post-loader.js" defer)
body
    include includes/header

    if hasEditPermission
        #inputs-form
            button#overwrite-button Overwrite
            include includes/format-select

            script(src="./js/overwrite-button.js" defer)
            script(src="./js/format-select-handler.js" defer)

    include includes/editor

    script.
        content= "#{content}"
        format= "#{format}"
        hasEditPermission= "#{hasEditPermission}"

    include includes/side-menu
    include includes/particles