doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/saved.css')

    // SCRIPTS
    script(src="./js/ace-min-noconflict/ace.js")
    script(src="./js/editor.js" defer)
    script(src="./js/post-loader.js" defer)
    script(src="./js/edit-button.js" defer)
    script(src="./js/delete-button.js" defer)
body
    include includes/header

    if hasEditPermission
        #inputs-form
            button#edit-button Edit
            button#delete-button Delete

    p#read-only-text [Read Only]

    include includes/editor

    script.
        content= "#{content}"
        format= "#{format}"
        hasEditPermission="#{hasEditPermission}"

        ace.edit("editor").setReadOnly(true);

    include includes/side-menu
    include includes/particles